.App {
  text-align: center;
  background-color: #ffffff;
  padding:  50px 100px;
  margin: 0 100px;
}
.page-header{
  width: 100%;
  text-align: center;
  color: black;
  font-weight: bold;
}
.opt{
  max-width: 60%;
  margin: 50px auto;
}
.try{
  display: flex;
  margin: 20px 0;
}
.Finalscore{
  border: 3px solid black;
  max-width: 60%;
  max-width: 60%;
  margin: 100px auto;
  background: #98e3a42b;

}
.Finalscore button{
  padding: 10px 100px !important;
  transition: all .3s;
}